
<div class="img-name d-flex div-secondary pb-3 pt-3 ">
    <img src="{{article.author.image}}" height=35 width=35 class="rounded-circle">
    <div>
    <p class="px-2">{{article.author.username}}</p>
    <h6 class="font-weight-light fsize py-0">{{article.updatedAt | date: 'MMMM d, y'}}</h6>
    </div>
    <div>
    <button class="btn btn-outline-secondary btn-secondary ml-4 btn-sm" *ngIf="!isSame">
        <i class="fas fa-plus"></i>
        Follow {{article.author.username}}
    </button>
    <button class="btn btn-outline-secondary btn-secondary ml-4 btn-sm" *ngIf="isSame">
            <i class="fas fa-pen"></i>            
            Edit Article
        </button>
    </div>
    <div>
        <button class="btn btn-outline-success btn-success btn-sm ml-1" *ngIf="!isSame">
            <i class="fas fa-heart"></i>
            Favourite Article
        </button>
        <button class="btn btn-outline-danger btn-danger btn-sm ml-1" *ngIf="isSame">
                <i class="fas fa-trash-alt"></i>             
                   Delete Article
            </button>
        </div>  
    </div>