<div *ngIf="isRender">
<div *ngIf="!isLoggedIn">
<app-navbars></app-navbars>
</div>
<div *ngIf="isLoggedIn">
<app-usernav></app-usernav>
</div>
                
<app-articlebanner [article]="displaydata"></app-articlebanner>
<div class="pt-3">
<app-articlebody [article]="displaydata"></app-articlebody>
</div>
<div class="pt-5">
        <div *ngIf="isLoggedIn">
        <app-writecomment [article]="displaydata"></app-writecomment>
</div>
<div  *ngIf="!isLoggedIn">
 <a class="link-success" routerLink="/login">Sign in </a>or <a routerLink="/register">sign up </a>to add comments on this article.

      
</div>
<app-comment></app-comment>
</div>
</div>