<app-usernav></app-usernav>
<div class="row">
    <div class="col-sm-3">
  
    </div>
    <div class="col-sm-6 mb-4">
        <ul *ngIf="errorarr.length != 0" style="list-style: none;">
            <li style="color: red; " *ngFor="let error of errorarr">
              {{ error }}
            </li>
          </ul>
      <form class="form-group" (ngSubmit)="onSubmit()" [formGroup]="userInputs">
        <input type="text" formControlName="url" class="form-control my-3 p-4" placeholder="URL of profile picture" autocomplete="off">
        <input type="text" formControlName="username" class="form-control my-3 p-4" placeholder="Username" value="" required autocomplete="off">
        <textarea formControlName="bio" rows="8" cols="80" class="form-control my-3 p-4" placeholder="Short bio about you"></textarea>
        <input type="text" formControlName="email" class="form-control my-3 p-4" placeholder="Email" value="" required autocomplete="off">
        <input type="password" formControlName="password" class="form-control my-3 p-4" placeholder="New Password">
        <div class="d-flex justify-content-end">
          <input type="submit" value="Update Settings" class="btn btn-dark" [disabled]="!userInputs.valid">
        </div>
      </form>
      <hr>
      <button class="btn btn-outline-danger" name="button" (click)="logoutClicked()">Logout</button>
    </div>
    <div class="col-sm-3">
  
    </div>
  </div>
  
  
  