<app-usernav></app-usernav>
<div class="settings-page pt-4">
    <div class="container page">
      <div class="row">
  
        <div class="col-md-6 offset-md-3 col-xs-12">
          <h1 class="text-xs-center">Your Settings</h1>
  
          <form>
            <fieldset>
                <fieldset class="form-group">
                  <input class="form-control" type="text" placeholder="URL of profile picture">
                </fieldset>
                <fieldset class="form-group">
                  <input class="form-control form-control-lg" type="text" placeholder="Your Name">
                </fieldset>
                <fieldset class="form-group">
                  <textarea class="form-control form-control-lg" rows="8" placeholder="Short bio about you"></textarea>
                </fieldset>
                <fieldset class="form-group">
                  <input class="form-control form-control-lg" type="text" placeholder="Email">
                </fieldset>
                <fieldset class="form-group">
                  <input class="form-control form-control-lg" type="password" placeholder="Password">
                </fieldset>
                <div class="d-flex justify-content-end">
                <button class="btn btn-lg btn-success align-content-end">
                  Update Settings
                </button>
              </div>
            </fieldset>
          </form>
        
        <hr/>
        <div class=" d-flex justify-content-center">
            <button class="btn btn-lg btn-outline-danger align-content-end">
                Log Out
              </button>
        </div>
      </div>
      </div>
    </div>
  </div>