.fsize{
    font-size: .8rem;
    text-decoration: none;
}
.date{
    font-size: .8rem;
}
a:hover,img:hover,p:hover,h5:hover{
    color: green
}
.fav-icon{
    float: right;
}
.activeColor{
    background-color: rgb(66, 182, 66)
}