.container{
    align-items: center
}


.p-name{
    font-size: .8rem;
   color:green;
}
.fsize{
    font-size: .8rem;
    text-decoration: none;
    color:darkgray;
}
.card-footer{
    padding: .75rem 1.25rem;
}