<div *ngIf="isRender">
<div class="container justify-content-center pb-5">

    <div class="card">
        <div class="card-body">
          <p class="card-text">{{comment.body}}</p>
        </div>
        <div class="card-footer">
            <div class="img-name  d-flexdiv-secondary justify-content-between">
              <div class=" d-flex">
                <img src="{{comment.author.image}}" height=35 width=35 class="rounded-circle">
                <div class="py-1">
                <p class="px-2 p-name">{{comment.author.username}}</p>
              </div>
              <div class="py-1">
                <p class="font-weight-light fsize">{{comment.updatedAt | date: 'MMMM d, y'}}</p>
              </div>
            </div>
              <div class="rightside d-flex" *ngIf="myprofile.username===comment.author.username">
                <button class="btn " (click)="deleteComment()"><i class="fas fa-trash-alt"></i></button>
              </div>
        </div>
      </div>

</div>
</div>
</div>