<app-navbars></app-navbars>
<div class="user-info">
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-10 offset-md-1 profile-img">
        
            <img src="{{profile.image}}" height=25 width=25 class="rounded-circle" alt="nf">
            <h4>{{username}}</h4>
    </div>
    
  </div>
 
</div>
</div>
<div class="m-2 pb-3 ">
<div>
    <button class="btn btn-outline-secondary btn-right px-2">
        <i class="fas fa-plus"></i>
        Follow {{username}}
    </button>
  
</div>
<div>
    <button class="btn btn-outline-secondary btn-right px-2">
        <i class="fas fa-cog"></i>
        Edit Profile Setting
    </button>
  
</div>
</div>
<app-navpils></app-navpils>

<app-myarticles [profile]="profile.username"></app-myarticles>