<div *ngIf="isRender">
<div *ngIf="!isLoggedIn">
<app-navbars ></app-navbars>
</div>
<div *ngIf="isLoggedIn">
    <app-usernav></app-usernav>
    </div>

<div class="user-info">
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-10 offset-md-1 profile-img">
        
            <img src="{{profile.image}}" height=25 width=25 class="rounded-circle" alt="nf">
            <h4>{{username}}</h4>
    </div>
    
  </div>
 
</div>
</div>
 <div class="m-2 pb-3"> 

<ng-container *ngIf="followed">

        <div *ngIf="username!==myprofile">
            <button class="btn btn-outline-secondary btn-right px-2" (click)="Unfollow()" id="myButton1" >
                <i class="fas fa-plus"></i>
                UnFollow {{username}}
            </button>
          
        </div>
        </ng-container>
        <ng-container *ngIf="!followed">

                <div *ngIf="username!==myprofile">
                    <button class="btn btn-outline-secondary btn-right px-2" (click)="follow()" id="myButton1" >
                        <i class="fas fa-plus"></i>
                        Follow {{username}}
                    </button>
                  
                </div>
                </ng-container>
<div *ngIf="username===myprofile">
    <button class="btn btn-outline-secondary btn-right px-2" (click)="navigateSetting()">
        <i class="fas fa-cog"></i>
        Edit Profile Setting
    </button>
  
</div>
 </div>
<app-navpils  (loadmine)="displayclick($event)" (loadfavourite)="displayclick($event)"></app-navpils>
<div *ngIf="feedTeller=='mine'">
<app-myarticles [profile]="profile.username"></app-myarticles>
</div>
<div *ngIf="feedTeller=='favourite'">
    <app-favouritearticles [profile]="profile.username"></app-favouritearticles>

</div>
</div>